@import url('~/assets/css/global-variables.css');
body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
  background-color: var(--green);
  margin: 0;
}

.personal-picture img {
  height: 100%;
  width: 100%;
}

.center-text {
  text-align: center;
}

.text {
  color: var(--gray);
}

.el-collapse-item__header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: center;
  align-items: center;
}